<li class="border rounded w-100 p-0 ps-1 bg-light middle-menu">

    <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">                                    
        <small class="ms-1 fw-bold cor-submenu fs-6">3. Ambulatorio</small>
    </a>

    <ul id="submenu1" class="collapse nav flex-column ms-2 p-0 pb-1 pe-2 show" data-bs-parent="#menu">

        <li class="mt-0 p-0">

            <a href="#submenu11" data-bs-toggle="collapse" id="consultorios" class="nav-link p-0 pb-1 align-middle bg-light">                                    
                <small class="ms-1 fw-bold font-submenu cor-submenu"
                onclick="">3.1 Consultorios</small>
            </a>
        
            <ul id="submenu11" class="collapse nav flex-column ms-2  p-0 pb-1 show" data-bs-parent="#submenu1">

                <li class="w-100">

                    <a href="#submenu112" data-bs-toggle="collapse" id="consultorios" class="nav-link p-0 pb-1 align-middle bg-light">                                    
                        <small class="ms-1 fw-bold font-submenu cor-submenu"
                        onclick="">3.11 Medicos</small>
                    </a>

                    <ul id="submenu112" class="collapse nav flex-column ms-2  p-0 pb-1" data-bs-parent="#submenu11">

                        <li>
                            <a href="#" class="nav-link p-0">
                                <small class="ms-1 font-submenu cor-submenu" 
                                    onclick="LoadPage('/ambulatorio/consultorio/medico','ploter',ListarConsultorioCliico,'Lista de Pacientes Consultorio Medico')">3.1.1.1 Clinico</small>
                            </a> 
                        </li>

                        <li>
                            <a href="#" class="nav-link p-0">
                                <small class="ms-1 font-submenu cor-submenu" 
                                    onclick="LoadPage('/ambulatorio/consultorio/medico','ploter',ListarConsultorioHematologista,'Lista de Pacientes Consultorio Hematologico')">3.1.1.2 Hematologista</small>
                            </a> 
                        </li>

                        <li>
                            <a href="#" class="nav-link p-0">
                                <small class="ms-1 font-submenu cor-submenu" 
                                    onclick="">3.1.1.3 Receituario & Encaminhamento</small>
                            </a> 
                        </li>

                    </ul>

                </li>
        
                <li>
                    <a href="#" class="nav-link p-0">
                        <small class="ms-1 font-submenu cor-submenu"
                               onclick="">3.1.2 Odontologico</small>
                    </a>
                </li>

                <li>
                    <a href="#" class="nav-link p-0">
                        <small class="ms-1 font-submenu cor-submenu"
                               onclick="">3.1.3 Fisioterapia</small>
                    </a>
                </li>

                <li>
                    <a href="#" class="nav-link p-0">
                        <small class="ms-1 font-submenu cor-submenu"
                               onclick="">3.1.3 Psicologico</small>
                    </a>
                </li>

                <li>
                    <a href="#" class="nav-link p-0">
                        <small class="ms-1 font-submenu cor-submenu"
                               onclick="">3.1.4 Serviço Social</small>
                    </a>
                </li>

            </ul>

            <a href="#submenu12" data-bs-toggle="collapse" id="enfermagem" class="nav-link p-0 pb-1 align-middle bg-light">                                    
                <small class="ms-1 fw-bold font-submenu cor-submenu">3.2 Enfermagem</small>
            </a>
        
            <ul id="submenu12" class="collapse nav flex-column ms-2 p-0 pb-1 show" data-bs-parent="#submenu1">

                <li class="w-100">
                    <a href="#" class="nav-link p-0">
                        <small class="ms-1 font-submenu cor-submenu" 
                        onclick="">3.2.1 Admissão de Paciente</small>
                    </a>
                </li>

                <li>
                    <a href="#" class="nav-link p-0">
                        <small class="ms-1 font-submenu cor-submenu"
                        onclick="">3.2.2 Lista Pacientes Admitidos</small>
                    </a>
                </li>

            </ul>

            <a href="#submenu13" data-bs-toggle="collapse" id="farmacia" class="nav-link p-0 pb-1 align-middle bg-light">                                    
                <small class="ms-1 fw-bold font-submenu cor-submenu">3.3 Farmacia</small>
            </a>
        
            <ul id="submenu13" class="collapse nav flex-column ms-2 p-0 pb-1 show" data-bs-parent="#submenu1">

                <li class="w-100">
                    <a href="#" class="nav-link p-0">
                        <small class="ms-1 font-submenu cor-submenu" 
                        onclick="">3.3.1 Solicitação de Medicamentos</small>
                    </a>
                </li>

            </ul>

        </li>

    </ul>

</li>