* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-blue-light:#c1d0f0;
    --bg-color-blue-dark: #336699;
    --bg-color-blue-deep: #2d5986;
    --color-red-light: #D32F2F;
}


html{
    height: 100%;
    width: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  padding: 5px;
  /*background-color:hsl(0, 0%, 90%) !important;*/
}

thead th{
 font-weight:700 !important;
 font-size: 14px !important;
}

small {
  font-size: 11px;
}

input[placeholder]::placeholder {
  color:#bfbfbf !important;
}

textarea {
  resize: none;
  width: 100%;
}

.sub-tit {
  color: var(--bg-color-blue-dark);
}

.sub-tit-bg {
  background-color: var(--bg-color-blue-dark);
}

.sub-tit-bg-light {
  background-color: var(--bg-color-blue-light);
}

.barra {
  height: 38px !important;
  padding: 3px 2px 2px 2px;
}

.botoes {
  height: 32px !important;
}

select {
  background-color: white !important;
}


option[value='0'] {
  color: #e6e6e6 !important;
}

input[type='text']:disabled, 
input[type='text']:read-only,
input[type='date']:disabled,
input[type='time']:disabled, 
input[type='time']:read-only, 
input[type='date']:read-only, 
input[type='datetime']:disabled, 
input[type='datetime']:read-only, 
select[disabled], select[read-only],
textarea[disabled],textarea[read-only] {
  /*background-color: var(--bs-gray-200) !important;
  /*background: hsl(0, 0%, 96.5%) !important;*/
  background: hsl(0, 0%, 97%) !important
}

input:focus, textarea:focus, select:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid var(--bs-gray-500) !important;
}
/*******************************************************
* CSS Tabelas do Sistema
* *****************************************************/

td {
  font-size: .75rem;
}

td button {
  cursor: pointer;
  height: 2em;
  width: 2em;
  /*border: none;*/
}

td img {
  cursor: pointer;
}

tr[data-sit='11'] {
  color: var(--color-red-light);
}

tr th {
  font-size: .8rem;
}

.form-label, .col-form-label {
  margin-bottom: 2px !important;
  margin-left: 1px !important;
  font-size: 13px !important;
}

.btn:hover {
  background-color: #eeeeee ;
}

.col-form-label {
  margin-top: -2px;
}

.bg-light {
  background: hsl(0, 0%, 94%) !important;
}
/*******************************************************
* CSS Painel Geral Sistema
* *****************************************************/
#painel header .container-fluid {
  border-top-left-radius: 8px;
  /*border-top-right-radius: 8px;*/
}

#painel #nome-tela {
  height: 21px;
}

#painel header h1, h2, h3 {
  color: var(--bg-color-blue-dark);
}

#painel header .btn-user {
  width: 5em;
}

#painel header .btn {
  width: auto;
  height: auto; 
  margin-left: 5px;
  font-size: 1em;
  font-weight: 600;
  padding: 4px 8px;
  color: var(--bg-color-blue-dark);
  border: 1px solid var(--bg-color-blue-dark);
  transform: skew(-20deg);  
}

#painel header .btn:focus {
  background: var(--bg-color-blue-dark);
  color: whitesmoke;  
}

#painel #modulos {
  min-width: auto;
  padding: 8px 8px;
  height: 50px;
  display: flex;
  margin-top: 5px;
  align-content: end;
  justify-content:flex-end;
}

.login .btn {
  width: auto;
  height: auto;
  font-size: 2em;
  font-weight: 600;
  border: 1px solid var(--bg-color-blue-dark);
  color: var(--bg-color-blue-dark);
}

.font-submenu {
  font-size: .75em;
}

.cor-submenu {
  color: var(--bg-color-blue-dark);
}

#painel header .btn:hover, .login .btn:hover {
 background: var(--bg-color-blue-dark);
 color: whitesmoke;
}

.btn:active {
  opacity: .7;
}

#painel .titulo {
  font-size: 0.9em;
  /*width: auto;*/
  align-content:start;
  font-weight: 700;
  color: var(--bg-color-blue-dark);
}

#painel header .logo {
    padding-top: 3px;
    width:auto;
    height: 2.5em;
}

#painel .middle {
  height: calc(100vh - 105px);
  /*background-color:hsl(0, 0%, 99%) !important;*/
}

#painel .middle-menu {
  height: calc(100vh - 115px);
  /*background-color:hsl(0, 0%, 99%) !important;*/
}

#sel-paginacao, #sel-paginacao-cep  {
  height: 32px !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  text-align: center !important;
  text-align: center;
}

/*******************************************************
* CSS MODAL Padrao
********************************************************/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  
  .modal[data-open] {
    display: flex;
  }
  
  .model-inner {
    background-color: #ffffff;
    border-radius: 5px;
    min-width: 21em;
    max-width: 70em;
    height: auto;
    width: auto;
    padding: 4px;
    margin: auto;
    border: 2px outset var(--bs-gray-500);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  
  }
  
  .modal .card {
    border-radius: 5px;
  }
 
  .modal label{
    font-size: 13px;
    margin-bottom: .1rem !important;
  }
    
  .modal .btn {
    border: 1px solid  #e6e6e6  !important;
    color: #666666 !important;
    height: 2.4em;
  }
  
  .modal th {
    font-size: .75em;
  }

  .modal td {
    font-size: .7em;
  }

  .modal td img {
    cursor: pointer;
  }

  .modal .page-link {
    font-size: .8em;
    color: lightslategray;
  }

  .modal .page-item {
    height: auto;
  }

  .modal .card-footer {
    display: flex;
    justify-content: right;
    height: 2.8em;
  }
  
  /*******************************************************
  * CSS MODAL Mensagem
  ********************************************************/
  #modal-mens {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  #modal-mens[data-open] {
    display: flex;
  }

  #modal-mens .model-inner {
    background-color: #ffffff;
    border-radius: 6px;
    min-width: 20em;
    max-width: 25em;
    height: auto;
    padding: 8px;
    margin: auto;
    border: 2px outset var(--bs-gray-500);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  }

  #modal-mens .btn {
    border: 1px solid  #e6e6e6  !important;
    color: #666666 !important;
    height: 2.4em;
    font-size: 12px;
  }

  #modal-mens .btn:hover {
    background-color: #e6e6e6 ;
  }

  .btn-close {
    border: none;
  }

  /*******************************************************
  * CSS MODAL Confirmar
  ********************************************************/
  #modal-confirm {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  #modal-confirm[data-open] {
    display: flex;
  }

  #modal-confirm .model-inner {
    background-color: #ffffff;
    border-radius: 6px;
    min-width: 20em;
    max-width: 25em;
    height: auto;
    padding: 8px;
    margin: auto;
    border: 2px outset var(--bs-gray-500);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  }

  #modal-confirm .btn {
    border: 1px solid  #e6e6e6  !important;
    color: #666666 !important;
    height: 2.4em;
    font-size: 12px;
  }

  #modal-confirm .btn:hover {
    background-color: #e6e6e6 ;
  }

  #modal-confirm .btn-close {
    border: none;
  }

  /*******************************************************
  * CSS MODAL Login
  ********************************************************/
  #modal-login {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  #modal-login[data-open] {
    display: flex;
  }

  #modal-login .model-inner {
    background-color: #ffffff;
    border-radius: 6px;
    min-width: 25em;
    max-width: 25em;
    height: auto;
    padding: 8px;
    margin: auto;
    border: 2px outset var(--bs-gray-500);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  }

  #modal-login .btn {
    border: 1px solid  #e6e6e6  !important;
    color: #666666 !important;
    height: 2.4em;
    font-size: 12px;
  }

  #modal-login .btn:hover {
    background-color: #e6e6e6 ;
  }

  #modal-login .btn:active {
    opacity: 0.7;
  }

  #modal-login .btn-close {
    border: none;
  }

  /*******************************************************
  * CSS Nav Tabs
  ********************************************************/
  #myTab .nav-link {
    color: #666666;
    font-size: 13px;
  }

  #myTab .active {
    color:var(--bg-color-blue-dark);
    font-weight: 600;
  }

  #tab-cad-pac .nav-link {
    color: #666666;
    font-size: 13px;
  }

  #tab-cad-pac .active {
    color:var(--bg-color-blue-dark);
    font-weight: 600;
  }

  .switch__knob-container {
    overflow: hidden;
    top: 0.5em;
    left: 0.5em;
    width: 4em;
    height: 2em;
  }

  .switch__knob-neon {
    display: block;
    width: 2em;
    height: auto;
  }

