<div class="card">

    <!-- <div class="card-header bg-light px-1 py-1">

        <div class="row">

            <div class="col-lg-12 text-start">
                <h5 class="sub-tit mt-1 px-2" id="tit-modal"></h5>
            </div>

        </div>

    </div>

    <div class="card-body py-1 px-3" id="modal-ploter">

        <div class="row">
       
            <div class="col-lg-2 py-1">
            <label id="lblId" for="txt-id">ID :</label>            
                <input class="form-control form-control-sm text-end"  type="text" id="txt-id" value="0">
            </div>

            <div class="col-lg-2 py-1">
                <label id="lbl-nome" for="txt-pronto">Prontuario :</label>
                <input class="form-control form-control-sm" type="text" id="txt-pronto" size="100">
            </div>

            <div class="col-lg-4">

                <button type="button" class="btn btn-sm me-2" onclick="Teste()">
                    <img src="assets/img/salve.png" height="20" width="20">       
                </button>

                <button type="button" class="btn btn-sm" onclick="elem('ploter').innerHTML = null">
                    <img src="assets/img/exit.png" height="20" width="20">         
                </button>

            </div>

            <div class="switch__knob-container">
                <input class="switch__knob-neon" type="checkbox" name="" id="">
            </div>
                        
        </div> -->

        <div class="row">

            <div class="col-lg-12 py-1 text-center">
                
                <p>testar</p>

                <!--   

                    Exemplo como enviar do controller

                    dados = {
                        atendimento: {
                            id: id_atend,
                            imagem: 'data:application/pdf;base64,' + image.toString('base64')
                        }    
                    } 
                    '<img src = "data:image/png;base64,' . base64_encode($row['product_image']) . '" width = "50px" height = "50px"/>'
                -->
                      
               
                <iframe id="imagem" width="50%"
                        height="520"
                        allow="encrypted-media;picture-in-picture"
                        allow-same-origin
                        frameborder="0"
                        style="border: 0;"
                        src="">
                </iframe>

            </div>
                        
        </div> 
    
    <!--</div> -->
            
</div>