<li class="border w-100 rounded p-0 ps-1 bg-light middle-menu">
                                
    <a class="nav-link px-0 align-middle" href="#submenu1" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="submenu1">                                   
        <small class="ms-1 fw-bold cor-submenu fs-6">1. Cadastros</small>
    </a>

    <ul id="submenu1" class="nav flex-column ms-1 collapse ms-2 p-0 pb-1 show" data-bs-parent="#menu">
        
        <li class="w-100">
            <a class="nav-link p-0" role="button" id="tipo-atend">
                <small class="font-submenu cor-submenu" 
                onclick="LoadPage('/cadastros/tipo-atend','ploter',TiposAtendimentosCarregar,'Cadastro de Tipos de Atendimentos');">1.01 Tipo Atendimento</small>
            </a>
        </li>

        <li>
            <a class="nav-link p-0" role="button" id="conselhos">
                <small class="font-submenu cor-submenu" 
                onclick="LoadPage('/cadastros/conselhos','ploter',ConselhosCarregar,'Cadastro de Conselhos Regionais');">1.02 Conselhos Regionais</small>
            </a>
        </li>

        <li>
            <a class="nav-link p-0" role="button" id="enfermarias">
                <small class="font-submenu cor-submenu" 
                onclick="LoadPage('/cadastros/enfermarias','ploter',EnfermariasCarregar, 'Cadastro de Enfermarias')" >1.03 Enfermarias</small>
            </a>
        </li>

        <li>
            <a class="nav-link p-0" role="button" id="leitos">
                <small class="font-submenu cor-submenu" 
                onclick="LoadPage('cadastros/leitos','ploter',LeitosCarregar, 'Cadastro de Leitos')">1.04 Leitos</small>
            </a>
        </li>

        <li>
            <a class="nav-link p-0" role="button" id="profissionais">
                <small class="font-submenu cor-submenu" 
                onclick="LoadPage('cadastros/profissionais','ploter',ProfissionaisCarregar, 'Cadastro de Profissionais')" >1.05 Profissionais</small>
            </a>
        </li>

        <li>
            <a class="nav-link p-0" role="button" id="motivo-encerra">
                <small class="font-submenu cor-submenu" 
                onclick="LoadPage('cadastros/motivo_encerra','ploter',MotivoEncerraCarregar, 'Cadastro de Motivo de Encerramento')">1.06 Motivo Encerramento</small>
            </a>
        </li>

        <li>
            <a class="nav-link p-0" role="button" id="regime-atend">
                <small class="font-submenu cor-submenu" 
                onclick="LoadPage('cadastros/regime_atend','ploter',RegimeAtendimentosCarregar,'Cadastro de Regime de Atendimento')" >1.07 Regime Atendimento</small>
            </a>
        </li>

        <li>
            <a class="nav-link p-0" role="button" id="esp-atend">
                <small class="font-submenu cor-submenu" 
                onclick="LoadPage('cadastros/especialidades','ploter',EspecialidadesCarregar,'Cadastro de Especialidades')" >1.08 Especialidades</small>
            </a>
        </li> 
        
        <li>
            <a class="nav-link p-0" role="button" id="turno">
                <small class="font-submenu cor-submenu" 
                onclick="LoadPage('cadastros/turnos','ploter',TurnosCarregar,'Cadastro de Turnos de Trabalho')">1.09 Turnos de Trabalho</small>
            </a>
        </li>  

        <li>
            <a class="nav-link p-0" role="button" id="vinculo">
                <small class="font-submenu cor-submenu" 
                onclick="LoadPage('cadastros/vinculos','ploter',VinculosCarregar,'Cadastro de Vinculos de Trabalho')" >1.10 Vinculos de Trabalho</small>
            </a>
        </li>

        <li>
            <a class="nav-link p-0" role="button" id="tipos_procedimentos">
                <small class="font-submenu cor-submenu" 
                onclick="LoadPage('cadastros/tipos_procedimentos/','ploter',TiposProcedimentosCarregar,'Cadastro de Tipos de Procedimentos')" >1.11 Tipos Procedimentos</small>
            </a>
        </li>


        <li>
            <a class="nav-link p-0" role="button" id="procedimentos">
                <small class="font-submenu cor-submenu" 
                onclick="LoadPage('cadastros/procedimentos','ploter',ProcedimentosCarregar,'Cadastro de Procedimentos')" >1.12 Procedimentos</small>
            </a>
        </li>

        <li>
            <a class="nav-link p-0" role="button" id="tipos_prescricoes">
                <small class="font-submenu cor-submenu" 
                onclick="LoadPage('cadastros/tipos_prescricoes/','ploter',TiposPrescricoesCarregar,'Cadastro de Tipos de Prescrições')" >1.13 Tipos Prescrições</small>
            </a>
        </li>

        <li>
            <a class="nav-link p-0" role="button" id="entidades">
                <small class="font-submenu cor-submenu" 
                onclick="">1.11 Entidades de Negocio</small>
            </a>
        </li>  

    </ul>

</li>