<style>
  #local .btn {
    border: 1px solid var(--bs-gray-300) !important;
    width: auto !important;
  }

  #local .btn:active {
    background-color: var(--bs-gray-200) !important;
  }

</style>

<div class="d-flex flex-column border p-2 rounded-2 p-1 h-100 bg-white" id="local">
  
  <div class="d-flex flex-row border rounded-2 p-1 w-100">

    <div class="d-flex flex-row justify-content-start w-50">

      <input class="form-control form-control-sm w-55" placeholder="digite o tipo de atendimento para pesquisar" type="text" id="txt-pesq"> 
      
      <button type="button" class="btn btn-sm ms-1 w-10" onclick="TiposAtendimentosCarregar(elem('txt-pesq').value)">
        <img src="/img/find.svg" height="18" width="18">
        <span>Pesquisar</span>
      </button>

      <button type="button" class="btn btn-sm ms-1 w-10" onclick="TiposAtendimentosAdicionar()">
        <img src="/img/adicionar.svg" height="18" width="18">
        <span>Novo</span>
      </button>

      <button type="button" class="btn btn-sm ms-1 w-10" onclick="LimparPloter()">
        <img src="/img/exit.svg" height="18" width="18">
        <span>Fechar</span>
      </button>

    </div>

    <div class="d-flex flex-row justify-content-end w-50">
      <small class="mt-2 text-muted">Paginacão :</small>
      <select class="form-select form-select-sm ms-1 w-15" id="sel-paginacao" onchange="TiposAtendimentosListar(this.value)"> 
          <option value="0">...</option>                       
      </select>
    </div>
    
  </div>

  <div class="d-flex flex-row mt-1">

    <div class="d-flex flex-row border rounded-2 w-100 p-1">

      <table class="table table-sm table-hover pb-0" id="tab">
          
        <thead>
  
          <tr>
            <th align="center" scope="col">#</th>
            <th align="left" scope="col">Tipo Atendimento</th>            
            <th align="left" scope="col">Ações</th>
          </tr> 
  
        </thead>
  
        <tbody id='tbody'>
  
        </tbody>
  
      </table>

    </div>

  </div>

</div>

<!---------------------------------------
  MODAL Inclui/Atualiza Tipo Atendimento 
----------------------------------------->
<div id="modal-padrao" class="modal" role="dialog" tabindex="-1">

  <div class="model-inner" id="card">

    <div class="d-flex flex-column border rounded-1 p-1">

      <!-- Header Modal --> 
      <div class="d-flex flex-row p-1 border rounded-1">
        <span class="sub-tit" id="tit-modal"></span> 
      </div>

      <!-- Body Modal -->
      <div class="d-flex flex-column border rounded-1 p-1 mt-1">

        <div class="d-flex flex-row row-cols-2 p-1">
          
          <label class="col-form-label text-end w-25" id="lblId" for="txt-id">ID :</label>
          <div class="col w-15 px-2">        
            <input class="form-control form-control-sm text-end" type="text" id="txt-id" value="0" disabled>
          </div>

          <label class="col-form-label w-15 text-end" id="lblId" for="txt-id">Ativo :</label>
          <div class="col form-check form-switch w-10 ms-2 py-1">
            <input class="form-check-input" type="checkbox" role="switch" id="chk-ativo" checked >
          </div>
        
        </div>

        <div class="d-flex flex-row row-cols-1 p-1">
        
          <label class="col-form-label text-end w-25" id="lbl-nome" for="txt-nome">Nome :</label>
          <div class="col w-70 px-2">
              <input class="form-control form-control-sm" type="text" id="txt-nome" size="100">
          </div>
  
        </div>

      </div>

      <!-- Footer Modal -->
      <div class="d-flex flex-column mt-1">

        <div class="d-flex flex-row justify-content-end">

          <button class="btn btn-sm me-2" onclick="TiposAtendimentosSalvar()">
            <img src="/img/salvar.svg" height="20" width="18">
            <span>Salvar</span>
          </button>

          <button class="btn btn-sm" onclick="closeModal('modal-padrao')">
            <img src="/img/exit.svg" height="20" width="18">
            <span>Fechar</span>
          </button>

        </div>

      </div>

    </div>

  </div>

</div>

 